.App {
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin: 20px auto; */
  padding: 2em;
  width: 100%;
  /* overflow-y: scroll; */
  /* box-sizing: border-box; */
  /* height: 100%; */
  flex: 1;
  position: relative;
}

.App::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.App::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.App::-webkit-scrollbar-thumb {
  background-color: #666;
  outline: 1px solid #eee;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  position: relative;
  /* right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* z-index: 10; */
  color: #fff !important;
  padding: 1.5rem !important;
  background-color: #343a40 !important;
  width: 100%;
}

.con {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* position: absolute; */
}
